<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.STEMify"
        tools:targetApi="31">
        <activity
            android:name=".Tutoring_ChatList"
            android:exported="false" />
        <activity
            android:name=".Tutoring_Message"
            android:exported="false" />
        <activity
            android:name=".Tutoring_Calendar"
            android:exported="false" />
        <activity
            android:name=".Tutoring_VideoCall"
            android:exported="false" />
        <activity
            android:name=".Tutoring_TutorDetail"
            android:exported="false" />
        <activity
            android:name=".EmptyTestActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.moduleA.QuizPage"
            android:exported="false"
            android:parentActivityName=".ui.moduleA.SectionLibrary" />
        <activity
            android:name=".ui.moduleA.PracticePage"
            android:exported="false"
            android:parentActivityName=".ui.moduleA.SectionLibrary" />
        <activity
            android:name=".ui.moduleA.VideoLessonPage"
            android:exported="false"
            android:parentActivityName=".ui.moduleA.SectionLibrary" />
        <activity
            android:name=".ui.moduleA.SectionLibrary"
            android:exported="false"
            android:parentActivityName=".ui.moduleA.SubtopicLibrary" />
        <activity
            android:name=".ui.moduleA.SubtopicLibrary"
            android:exported="false"
            android:parentActivityName=".ui.moduleA.TopicLibrary" />
        <activity
            android:name=".ui.moduleA.TopicLibrary"
            android:exported="false"
            android:parentActivityName=".ui.moduleA.GradeLibrary" />
        <activity
            android:name=".ui.moduleA.GradeLibrary"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeworkHelp_PostDetail"
            android:exported="false" />
        <activity
            android:name=".MyProfile"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".Congrats"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".LoginFailed"
            android:exported="false" />
        <activity
            android:name=".PasswordChangeDone"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Splash2"
            android:exported="false" />
        <activity
            android:name=".HealthGuide"
            android:exported="false" />
        <activity
            android:name=".Lifestyle"
            android:exported="false" />
        <activity
            android:name=".MentalHealth"
            android:exported="false" />
        <activity
            android:name=".HealthFitness"
            android:exported="false" />
        <activity
            android:name=".Cleanliness"
            android:exported="false" />
        <activity
            android:name=".Lifestyle"
            android:exported="false" />
        <activity
            android:name=".MentalHealth"
            android:exported="false" />
        <activity
            android:name=".HealthFitness"
            android:exported="false" />
        <activity
            android:name=".Cleanliness"
            android:exported="false" />
        <activity
            android:name=".Counselor"
            android:exported="false" />
        <activity
            android:name=".CommunityEventDetails"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".HomeworkHelp_NewQuestion"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>